<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2> Choose A Member </h2>
<%= form_tag "/editaccount" do %>
  <%= collection_select :person, :person_id, @people, :id, :full_name, prompt: true%><br/>
  <%= submit_tag "Choose Member" %>
<% end %>
<br/>
<%= link_to "I don't see my name!", signup_path %>
