<% if flash[:errors] %>
  <div class="errors-div">
    <ul>
      <br/>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "masthead">

  <div class="transbox">
    <div class="login">
      <h2>Hello Gorgeous</h2>
      <div class = "form">
        <%= form_tag '/login' do %>

          Username: <%= text_field_tag :username %> <br><br>
          Password: <%= password_field_tag :password %><br><br>
          <%= submit_tag "Submit" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
