<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2>Login</h2>

<%= form_tag '/login' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %> <br/><br/>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br/><br/>
  <%= submit_tag "Submit" %>
<% end %>
