<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2>New Person Signup</h2>

<%= form_for @person, url: '/signup' do |f| %>
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name %><br/>
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %><br/>
  <%= f.label :date_of_birth %><br/>
  <%= f.date_field :dob %></br>
  <%= f.label :family %><br/>
  <%= f.collection_select :family_id, @families, :id, :family_name_and_id, prompt: true%><br/>
  <%= f.label :family_password %><br/>
  <%= f.password_field :family_password %><br/>
  <%= f.label :username %><br/>
  <%= f.text_field :username %><br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password %><br/>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %><br/>
  <%= f.submit "Submit" %>
<% end %>
