<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2>New Person Signup</h2>
<div class="bodynewaccount" >


    <div class="formnewaccount">



    <%= bootstrap_form_for @person, url: '/signup' do |f| %>

      <%= f.text_field :first_name %>

      <%= f.text_field :last_name %>

      <%= f.date_field :dob, label: "Date of Birth" %>

      <%= f.text_area :bio %>

      <%= f.collection_select :family_id, @families, :id, :family_name_and_id, prompt: true%>

      <center><%= link_to "Register Family", new_family_path  %> </center>

      <%= f.password_field :family_password %>

      <%= f.text_field :username %>

      <%= f.password_field :password %>

      <%= f.password_field :password_confirmation %>
      <%= f.submit "Submit" %> <br></br> <br></br>
    <% end %>
  </div>
  </div>
