<br/><br/>
<%= link_to "View All Family Members", people_path %><br/>
<%= link_to "Add New Family Member", new_person_path %><br/>
<br/>
<%= link_to "Add New Memory", new_memory_path %><br/>
<%= link_to "View All Memories", memories_path %><br/>

<% if @memories %>
  <% @memories.each do |memory| %>
    <% if memory.image.url != "/images/original/missing.png"%>
      <p><%= link_to image_tag(memory.image.url(:medium)), memory %></p>
    <% elsif memory.image_url && memory.image_url.strip != "" %>
      <%= link_to image_tag(memory.image_url), memory %>
    <% end %>
  <% end %>
<% end %>
