


  <div class="row">
    <div class="ek-memory-name-container col-md-2">

      <div class = "ek-memory-name">

        <div class = "show-links">
          <p class = "ek-link"><%= link_to "View All Family Members", people_path %></p>
          <p class = "ek-link"><%= link_to "Add New Family Member", new_person_path %></p>
          <p class = "ek-link"><%= link_to "View All Memories", memories_path %></p>
          <p class = "ek-link"><%= link_to "Add New Memory", new_memory_path %></p>

        </div>


        <% @people.each do |person| %>
          <p id="ek-person-name"><%= link_to person.full_name, person %></p>
        <% end %>
      </div>
      
    </div>

    <div class="ek-memory-image-container col-md-10">
      <% if @memories %>
        <% @memories.each_with_index do |memory, index| %>
          <div class="ek-memory-image-container-div">
            <div class="ek-memory-column">
              <% if memory.image.url != "/app/assets/images/missing_memory.jpg"%>
                <%= link_to image_tag(memory.image.url(:medium)), memory %>
              <% elsif memory.image_url && memory.image_url.strip != "" %>
                <%= link_to image_tag(memory.image_url), memory %>
              <% else %>
                <%= link_to image_tag("/assets/missing_memory.jpg"), memory %>
              <% end %>

              <p>
                <%=  memory.title %>
              </p>
            </div>
          </div>



        <% end %>
      <% end %>
    </div>

  </div>
