


  <div class="row">
    <div class="ek-memory-name-container col-md-2">

      <div class = "ek-memory-name">
        <div class = "show-links">
          <p class = "ek-link"><%= link_to "View All Family Members", people_path %></p>
          <p class = "ek-link"><%= link_to "Add New Family Member", new_person_path %></p>
          <p class = "ek-link"><%= link_to "View All Memories", memories_path %></p>
          <p class = "ek-link"><%= link_to "Add New Memory", new_memory_path %></p>
        </div>

        <% @people.each do |person| %>
          <p id="ek-person-name"><%= link_to person.full_name, person %></p>
        <% end %>
      </div>

    </div>






    <div class="ek-memory-image-container col-md-10">
      <div class="hc-grid-row">
        <% if @memories %>
          <% @memories.each_with_index do |memory, index| %>

            <% if index == 0 %>
              <div class="hc-grid-column">
            <% end %>

              <% if index < 4 %>
                <div class="ek-memory-image-container-div">
                  <div class="ek-memory-column">
                    <%= link_to(image_tag(memory.get_correct_memory_link), memory) %>
                    <p>
                      <%=  memory.title %>
                    </p>
                  </div>
                </div>
              <%end%>

            <% if index == 3 %>
              </div>
            <% end %>



            <% if index == 4 %>
              <div class="hc-grid-column">
            <% end %>

              <% if index >= 4 && index < 8 %>
                <div class="ek-memory-image-container-div">
                  <div class="ek-memory-column">
                    <%= link_to(image_tag(memory.get_correct_memory_link), memory) %>
                    <p>
                      <%=  memory.title %>
                    </p>
                  </div>
                </div>
              <%end%>

            <% if index == 7 %>
              </div>
            <% end %>



            <% if index == 8 %>
              <div class="hc-grid-column">
            <% end %>

              <% if index >= 8 %>
                <div class="ek-memory-image-container-div">
                  <div class="ek-memory-column">
                    <%= link_to(image_tag(memory.get_correct_memory_link), memory) %>
                    <p>
                      <%=  memory.title %>
                    </p>
                  </div>
                </div>
              <%end%>

            <% if index == 11 %>
              </div>
            <% end %>





          <% end %>
        <% end %>
      </div>
    </div>

  </div>
