<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<%= form_for @person, html: { multipart: true } do |f| %>
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name %><br/>
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %><br/>
  <%= f.label :bio %><br/>
  <%= f.text_field :bio %><br/>
  <%= f.label :date_of_birth %><br/>
  <%= f.date_field :dob %><br/>
  <%= f.label :date_of_death %><br/>
  <%= f.date_field :dod %><br/>
  <%= f.label :picture %><br/>
  <%= f.file_field :image %><br/>
  <% if @person == current_user %>
    <%= f.submit "Update Account" %>
  <% else %>
    <%= f.submit %>
  <% end %>
<% end %>
