<% if !current_user.family.people.include?(@person) %>
  <%= render 'noaccess' %>
<% else %>
  <h2> Edit <%= @person.full_name %> </h2>
  <%= render 'form' %>
  <br/>

<div class = "formpeople" id="deletebtn">
  <%= form_tag person_path(@person), method: 'delete', class: "form-inline" do %>
  <% if @person == current_user %>
    <%= submit_tag 'Delete Account', class: "btn btn-default" %>
  <% else %>
    <%= submit_tag 'Delete Person', class: "btn btn-default" %>
  <% end %>
  <% end %>

</div>

<% end %>
