
<h2> The <%= @family.family_name.capitalize %> Family Tree </h2>
<h3> <%= @family.family_info %> </h3>
<div class="hc-edit-family"><%= link_to "Edit Family", edit_family_path(current_user.family)  %></div>

<div class="hc-people-container">
  <% @people.each do |person| %>
    <div>
      <div class="hc-person-img">
        <% if person.image.url != "/app/assets/images/missing_user.png"%>
          <%= link_to image_tag(person.image.url(:medium)), person %>
        <% elsif person.image_url && person.image_url.strip != "" %>
          <%= link_to image_tag(person.image_url), person %>
          <% else %>
            <%= link_to image_tag("/assets/missing_user.png"), person %>
        <% end %>
      </div>
      <div class="hc-person-name">
        <%= person.full_name %>
      </div>

    </div>
  <% end %>
</div>
