
<% if !current_user.family.people.include?(@person) %>
  <%= render 'noaccess.html.erb' %>
<% else %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%=  @person.first_name %> <%= @person.last_name %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container-fluid">
  <h2> <%=  @person.full_name%> </h2>
  <center><img src=" <%= @person.image.url (:large)%> " alt="" class="img-rounded"></center>
  <% if @person.image.url != "/app/assets/images/missing_user.png"%>
    <center><img src= <%= @person.image.url (:large)%>  alt="" class="img-rounded"></center>
  <% elsif @person.image_url && @person.image_url.strip != "" %>
    <center><img src= <%= @person.image_url%> alt="" class="img-rounded"></center>
  <% else %>
    <center><img src= "/assets/missing_user.png" alt="" class="img-rounded"></center>
  <% end %>


  <p>
    <ul>
      <center>
        <div class="bio">
          <label>Biography: </label>  <%= @person.bio %></br></br>
          <label>Date of Birth: </label>  <%= @person.dob %></br></br>
          <% if @person.dod %>
            <label>Date of Death: </label>  <%= @person.dod %></br></br>
          <% end  %>
        </div>


        <% if !@person.is_account %>
          <button type="button" class="btn btn-link"><%= link_to("Edit Person", edit_person_path )%></button>
        <% end %>


        <button type="button" class="btn btn-link"><%= link_to("All Family Members", people_path) %></button>

      </center>
    </ul>
  </p>





</div>




  <% if @person.memories.any? %>
    <h2>Memories</h2>

    <div class="row">
    <% @person.memories.each_with_index do |memory, index| %>


        <% if index % 3 == 0 %>
          <div class="col-md-4">
            <div class="img-fluid" alt="Responsive image">
              <% if memory.image.url != "/app/assets/images/missing_memory.jpg" %>
                <%= image_tag(memory.image.url(:medium)) %>
              <% elsif memory.image_url && memory.image_url.strip != "" %>
                <%=  image_tag(memory.image_url) %>
              <% else %>
                <%= image_tag("/assets/missing_memory.jpg") %>
              <% end %>
              <div class="captionks">
                <p> <%= link_to memory.title, memory %></p>
              </div>
            </div>
          </div>
        <% elsif index % 3 == 1%>

          <div class="col-md-4">
            <div class="img-fluid" alt="Responsive image">
              <% if memory.image.url != "/app/assets/images/missing_memory.jpg" %>
                <%= image_tag(memory.image.url(:medium)) %>
              <% elsif memory.image_url && memory.image_url.strip != "" %>
                <%=  image_tag(memory.image_url) %>
              <% else %>
                <%= image_tag("/assets/missing_memory.jpg") %>
              <% end %>

              <div class="captionks">
                <p> <%= link_to memory.title, memory %></p>
              </div>
            </div>
          </div>

        <% else %>

                  <div class="col-md-4">
                  <div class="img-fluid" alt="Responsive image">
                    <% if memory.image.url != "/app/assets/images/missing_memory.jpg" %>
                      <%= image_tag(memory.image.url(:medium)) %>
                    <% elsif memory.image_url && memory.image_url.strip != "" %>
                      <%=  image_tag(memory.image_url) %>
                    <% else %>
                      <%= image_tag("/assets/missing_memory.jpg") %>
                    <% end %>
                      <div class="captionks">
                        <p> <%= link_to memory.title, memory %></p>
                      </div>

                  </div>
                </div>









    <% end %>
  <% end %>

</div>

<% end %>

















</body>


<% end %>

</html>
