<% if !current_user.family.people.include?(@person) %>
  <%= render 'noaccess.html.erb' %>
<% else %>
  <h2> <%=  @person.first_name %> <%= @person.last_name %></h2>
  <img src=" <%= @person.image_url %> " alt=""> <br/>

  <% if @person.image.url != "/images/original/missing.png" %>
    <%= image_tag @person.image.url(:medium) %> <br/>
  <% end %>

    <ul>
      <label>Biography: </label>  <%= @person.bio %></br></br>
      <label>Date of Birth: </label>  <%= @person.dob %></br></br>
      <% if @person.dod %>
        <label>Date of Death: </label>  <%= @person.dod %></br></br>
      <% end  %>
    </ul>

    <% if @person.memories.any? %>
      <h1>Memories</h1>
    <ul>
      <% @person.memories.each do |memory| %>
        <% if memory.image.url != "/images/original/missing.png" %>
          <li><%= link_to image_tag(memory.image.url(:thumb)), memory %></li>
        <% end %>

      <% end %>
    <% end %>
  </ul>
    </br></br></br></br>
  <% if !@person.is_account %>
    <%= link_to("Edit Person", edit_person_path )%></br></br>
    <%= link_to("All People", people_path) %></br></br>
  <% end %>
<% end %>
