<% if current_user.family != @family %>
  <%= render 'noaccess' %>
<% else %>
  <% if flash[:errors] %>
    <ul>
      <br/>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %><br/>

  <h2>Edit <%= @family.family_name.capitalize %> Family</h2>
<center>
    <div class="formeditfamily">

  <%= form_for @family do |f| %>
    <%= f.label :family_name, label: "Family Name" %><br/>
    <%= f.text_field :family_name %><br/><br>
    <%= f.submit "Submit" %>
      <br/><br/>
  <% end %>
  </div>
</center>
<% end %>
