<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2>New Family</h2>
<body>
  <div class="bodyfamily">
    <div class="formfamily">
<%= bootstrap_form_for @family do |f| %>

  <%= f.text_field :family_name %><br/>

  <%= f.text_area :family_info, label: "Family Description", placeholder: "Write A Little About Your Family" %><br/>

  <%= f.password_field :password, label: "Family Password" %><br/>

  <%= f.password_field :password_confirmation %><br/>
  <center><%= f.submit "Submit" %></center>
  <br/>
  <br/>

<% end %>

</div>
</div>
</body>
