<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<h2>New Family</h2>

<%= form_for @family do |f| %>
  <%= f.label :family_name %><br/>
  <%= f.text_field :family_name %><br/>
  <%= f.label :family_description %><br/>
  <%= f.text_area :family_info, placeholder: "Write A Little About Your Family" %><br/>
  <%= f.label :family_password %><br/>
  <%= f.password_field :password %><br/>
  <%= f.label :password_confirmation %> <br/>
  <%= f.password_field :password_confirmation %><br/>
  <%= f.submit "Submit" %>
<% end %>
