<% if flash[:errors] %>
  <ul>
    <br/>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %><br/>

<%= form_for @memory, html: { multipart: true } do |f| %>
  <%= f.label :title %><br/>
  <%= f.text_field :title %><br/>
  <%= f.label :description %><br/>
  <%= f.text_field :description %><br/>
  <%= f.label :image %><br/>
  <%= f.file_field :image %><br/>
  <%= f.collection_check_boxes(:person_ids, @people, :id, :full_name) %><br/>
  <%= f.submit %>
<% end %>
