<h2> <%= @family.family_name %> Memories </h2>




  <div class="memories-container">
    <% @memories.each do |memory| %>
      <div>
        <div>
          <% if memory.image.url != "/app/assets/images/missing_memory.jpg"%>
            <%= link_to image_tag(memory.image.url(:medium)), memory %>
          <% elsif memory.image_url && memory.image_url.strip != "" %>
            <%= link_to image_tag(memory.image_url), memory %>
            <% else %>
              <%= link_to image_tag("/assets/missing_memory.jpg"), memory %>
          <% end %>
        </div>
        <div class="memories-title">
          <%=  memory.title %>
        </div>
      </div>
    <% end  %>
  </div>
