<% if !current_user.family.memories.include?(@memory) %>
  <%= render 'noaccess' %>
<% else %>
  <h2><%= @memory.title %></h2>

  <img src= "<%= @memory.image_url %>"/><br/>
  <% if @memory.image.url != "/images/original/missing.png" %>
    <%= image_tag @memory.image.url(:medium) %><br/>
  <% end %>

  Description: <br/>
  <%=  @memory.description %> <br/><br/>

  Tagged People: <br/>
  <% @tagged_people.each do |p| %>
    <ul>
      <li><%= link_to p.full_name, p %></li>
    </ul>
  <% end %>
  <br/>

  <%= link_to("Edit Memory", edit_memory_path )%><br/>
  <%= link_to("All Memories", memories_path) %><br/>
<% end %>
