<h1>  <%=  @memory.title %></h1>

<img src= "<%= @memory.image_url %>"/><br/>
<p>  <%=  @memory.description %></p>


<%= link_to("Edit Memory", edit_memory_path )%><br/>
<%= link_to("All Memories", memories_path) %><br/>
